.container {
    background-color: #1E203E;
    height: 100vh;
    margin-top: 0;
    font-family: Poppins;
}

.header-content {
    padding: 50px;
}

.logo_btn {
    width: 150px;
    height: 50px;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.about_btn {
    width: 150px;
    height: 50px;
    background-color: #FFC900;
    border: 1px solid #FFC900;
    font-size: 20px;
    font-weight: 500;
    float: right;
}

.content-body {
    text-align: center;
}

.content-para {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 600;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.image_container {
    padding-left: 50px;
}

.about_image {
    width: 380px;
    height: 380px;
}

.para_container {
    flex: 1;
    padding-left: 50px;
    padding-right: 50px;
}

.Para-body {
    font-size: 30px;
    font-weight: 300;
    color: #FFFFFF;
    text-align: justify;
}

.get_btn {
    width: 120px;
    height: 30px;
    background-color: #FFC900;
    border: 1px solid #FFC900;
    font-size: 20px;
    font-size: 500;
    font-family: Roboto;
}

@media (max-width: 430px) {
    .container {
        height: fit-content;
    }

    .logo_btn {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }

    .about_btn {
        width: 100px;
        height: 30px;
        font-size: 12px;
        font-weight: 500;
    }

    .content-body {
        text-align: center;
        width: 300px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .content-para {
        font-size: 20px;
        color: #FFFFFF;
        font-weight: 600;
        text-align: justify;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .image_container {
        padding-left: 35px;
    }

    .about_image {
        width: 200px;
        height: 200px;
    }

    .para_container {
        flex: 1;
        padding-left: 35px;
        padding-right: 35px;
    }

    .Para-body {
        font-size: 15px;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 18.8px;
        text-align: justify;
    }

    .get_btn {
        width: 80px;
        height: 30px;
        background-color: #FFC900;
        border: 1px solid #FFC900;
        font-size: 12px;
        font-size: 500;
        font-family: Roboto;
        margin-bottom: 20px;
    }
}