.Header {
    margin-top: 0;
    list-style-type: none;
}

.Header li {
    float: right;
}

.Header li a {
    display: block;
    color: #030000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}